<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="CSS/login_style.css">
</head>
<body>

<div id="id01" class="login">
  
  <form class="login-content animate" action="/jobseeker.com%20login" method="post">
      <h1>JOBSEEKER.COM</h1>
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f9f4f4">
      <h3 style="text-align: center;">Don't have an account ? <a href="/jobseeker.com%20register">sign up</a></h5>
    </div>
  </form>
</div>
</body>
</html>
