<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>

<link rel="stylesheet" href="CSS/signup_style.css">

<body>

<div id="id01" class="modal">
  <form class="modal-content" action="/jobseeker.com%20register" method="post">
    <div class="container">
      <h1>JOBSEEKER.COM</h1>
      <h2>Sign Up</h2>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password-repeat" required>     

      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>

      <div style="background-color:#f9f4f4">
        <h3 style="text-align: center;">Already have an account ? <a href="/jobseeker.com%20login">log in</a></h5>
      </div>
    </div>
  </form>
</div>

</body>
</html>
