<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="/CSS/style3.css">
  </head>
  <body>
    <h1 class="h1">JOBSEEKER.COM</h1>
    <div class="con">
      <h1>You have successfully submitted your form</h1>
      <button id="btn">Go back to home page</button>
    </div>

    <script>
      const button = document.querySelector("#btn");
      button.addEventListener("click", () => {
        window.open("/", "_self");        
      });
    </script>
  </body>
</html>
